
<div class="row">
    <h3 class="page-header">Open tournaments</h3>
</div>

<div class="row" ng-show="tournaments.length" >
    <div class="col-md-10">
        <table class="table table-hover table-striped tournaments-table">
            <thead>
                <tr>
                    <th class="col-md-4">Name</th>
                    <th class="col-md-2">Game</th>
                    <th class="col-md-3">Area</th>
                    <th class="col-md-2">Players</th>
                    <th class="col-md-2"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tournament in tournaments">
                    <td>{{tournament.name}}</td>
                    <td>{{tournament.gameType}}</td>
                    <td>{{tournament.area}}</td>
                    <td>{{tournament.players}}</td>
                    <td>
                        <a href=".#/tournaments/edit/{{ tournament._id }}">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </a>

                        <a href="javascript:void(0)" ng-click="delete(tournament)">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>

<div class="row" ng-hide="tournaments.length">
    <strong>There are currently no tournaments. Go ahead and create one!</strong>
</div>

<div class="row top-buffer">
        <a ng-href=".#/tournaments/create">Create new Tournament</a>
</div>


