
<div class="row">
    <h3 ng-show="createCase" class="page-header">Create new Tournament</h3>
    <h3 ng-show="editCase" class="page-header">Edit Tournament</h3>
</div>

<div class="row">
    <form name="tournamentForm" class="form-horizontal" role="form" novalidate>
        <div class="form-group">
            <label for="inputName" class="col-md-2 control-label">Name</label>
            <div class="col-md-5">
                <input ng-model="tournament.name" required type="text" name="name" value="{{ tournament.name }}" class="form-control" id="inputName" placeholder="Tournament Name">
            </div>
        </div>
        <div class="form-group">
            <label for="inputGameType" class="col-md-2 control-label">Game Type</label>
            <div class="col-md-5">
                <select class="form-control" id="inputGameType" ng-model="tournament.gameType" ng-options="gameType for gameType in gameTypes"></select>
            </div>
        </div>
        <div class="form-group">
            <label for="inputArea" class="col-md-2 control-label">Area</label>
            <div class="col-md-5">
                <input ng-model="tournament.area" type="text" name="area" value="{{ tournament.area }}" class="form-control" id="inputArea" placeholder="Area">
            </div>
        </div>

        <div class="form-group">
            <label for="inputStartDate" class="col-md-2 control-label">Start Date</label>
            <div class="col-md-5">
                <input ng-model="tournament.startDate" type="date" name="startDate" class="form-control" id="inputStartDate" placeholder="">
            </div>
        </div>

        <div class="form-group">
            <label for="inputEndDate" class="col-md-2 control-label">Final</label>
            <div class="col-md-5">
                <input ng-model="tournament.endDate" type="date" name="endDate" class="form-control" id="inputEndDate" placeholder="">
            </div>
        </div>

        <div class="form-group">
            <label for="inputDescription" class="col-md-2 control-label">Description</label>
            <div class="col-md-5">
                <textarea ng-model="tournament.description" name="description" class="form-control description" id="inputDescription" placeholder=""></textarea>
            </div>
        </div>

    </form>

    <div class="row">
        <div class="btn-toolbar col-md-7">
            <button type="submit" class="btn btn-default pull-right" ng-click="save(tournament)">Save</button>
            <button class="btn btn-default pull-right" ng-click="cancel()">Back</button>
        </div>
    </div>
</div>


