
<h3>Open tournaments</h3>

<table class="table table-striped">

    <thead>
        <tr>
            <th>Name</th>
            <th>Game</th>
            <th>Area</th>
            <th>Players</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="tournament in tournaments">
            <td>{{tournament.name}}</td>
            <td>{{tournament.gameType}}</td>
            <td>{{tournament.area}}</td>
            <td>{{tournament.players}}</td>
        </tr>

    </tbody>

</table>

<a ng-href=".#/tournaments/create">Create new Tournament</a>


